@charset "utf-8";
/* CSS Document */

.flex {
    display: flex;
    flex-direction: column;
}

@media(min-width: 500px) {
	nav .logo {
	display: flex;
	box-sizing: border-box;
	max-width: 500px;
	margin: auto;
	padding: 15px;
	}
}

@media(min-width: 900px) {
	nav .logo {
	box-sizing: border-box;
	max-width: 250px;
	
	padding: 10px;
	
	}
}