@charset "utf-8";
/* CSS Document */

@media(min-width: 500px) {
	nav .logo {
	display: flex;
	box-sizing: border-box;
	max-width: 500px;
	margin: auto;
	padding: 15px;
	}
}

@media(min-width: 900px) {
	nav.flex {
    }
	
/*
	nav ul.flex1 {
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center;
        align-items: center;
    }
*/
	
	nav ul.flex {
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center;
        align-items: center;
    }
	
	nav .logo {
	box-sizing: border-box;
	max-width: 250px;
	
	padding: 10px;
	
	}
}