@charset "utf-8";
/* CSS Document */

@media(min-width: 500px) {
	nav .logo {
	display: flex;
	box-sizing: border-box;
	max-width: 500px;
	margin: auto;
	padding: 15px;
	}
	
	
}

@media(min-width: 900px) {
	nav.flex {
    }
	
/*
	nav ul.flex_r {
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center;
        align-items: center;
    }
*/
	
	.drawing {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 200px;
	padding: 10px;
	align-items: center;
	justify-content: flex-end;
	

	
	/*margin: auto;
	align-content: center;*/
	/*	flex: 1;*/
	}
	
	nav ul.flex {
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center;
        align-items: center;
    }
	
	nav .logo {
	box-sizing: border-box;
	max-width: 250px;
	
	padding: 10px;
	
	}
}