@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
	}

.flex {
    display: flex;
    flex-direction: column;
	}

nav .logo {
	
	box-sizing: border-box;
	max-width: 100%;
	padding: 15px;
	}

nav .logo_header {
	background-color: #020077;
	}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
	}
	
nav ul li {
    padding: 10px;
    border-bottom: 2px solid grey;
	}

nav a {
    text-decoration: none;
    color: #222;
}