@charset "UTF-8";
/* CSS Document */

.floater {
	float: left;
	min-height: 200px;
}

.w-100 {
	width: 100%;
}

@media (min-width: 550px) {
	.w-md-50 {
		width: 50%;
	}
	.wd-md-33 {
		width: 33.33%
	}
} /*End of Min*/

@media (min-width: 960px) {
	.w-lg-100 {
		width: 100%;
	}
	
	.w-lg-50 {
		width: 50%;
	}
} /*End Of LG*/